# Xcode
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.moved-aside
*.xcuserstate

# Swift Package Manager
Packages/
Package.resolved

# macOS
.DS_Store

# SwiftUI previews
Preview Content/

# App-specific
*/.store/
